In [1]:
from clase import cuartas 

from clasificación import *

#Ejemplo coral Bach
bach_path = '../Archivos/Corales/028600B_.xml'
bach = cuartas(bach_path)
df = bach.extraer_df()


#Clasificación
aa = acorde6_4_paso(df)
aa

             Acordes  Condición1  Condición2  Condición3  Condición4  Suma
10  [D3, B3, G4, E5]       False       False        True        True     2
31  [G3, E4, A4, C5]       False       False        True       False     1
34  [E3, E4, A4, C5]        True       False        True       False     2