In [1]:
from clase import cuartas 

from clasificacion import *

#Ejemplo coral Bach
bach_path = '../Archivos/Corales/028600B_.xml'
bach = cuartas(bach_path)
df = bach.extraer_df()


#Clasificación
aa = acorde6_4_paso(df)
aa

/usr/lib/python3/dist-packages/requests/__init__.py:87: RequestsDependencyWarning: urllib3 (2.0.4) or chardet (4.0.0) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

['G', 'C', 'A'] ['B', 'E', 'C']

             Acordes  Condición1  Condición2  Condición3  Condición4  Suma
10  [D3, B3, G4, E5]       False       False        True        True     2
31  [G3, E4, A4, C5]       False       False        True       False     1
34  [E3, E4, A4, C5]        True       False        True       False     2

In [2]:
ab = acorde6_4_bordadura(df)
ab

['G', 'C', 'A'] ['B', 'E', 'C']
['G', 'C', 'A'] ['B', 'E', 'C']
<music21.note.Note G> <music21.note.Note G> <music21.note.Note G>
<music21.note.Note C> <music21.note.Note C> <music21.note.Note D>
<music21.note.Note G#> <music21.note.Note A> <music21.note.Note A>

,Acordes,Mismo bajo,Condición cuartas,Condición sextas,Suma,error
10,"[D3, B3, G4, E5]",False,False,False,0,P1
31,"[G3, E4, A4, C5]",False,False,False,0,P1
34,"[E3, E4, A4, C5]",False,False,False,0,m2

In [3]:
acorde6_4_cadencial(df)

['G', 'C', 'A'] ['B', 'E', 'C']
nombre intervalo M2
inicio: <music21.note.Note D>  ,   fin : <music21.note.Note C>
<music21.note.Note D>
nombre intervalo P4
inicio: <music21.note.Note G>  ,   fin : <music21.note.Note D>
<music21.note.Note G>
nombre intervalo P5
inicio: <music21.note.Note E>  ,   fin : <music21.note.Note B>
<music21.note.Note E>

             Acordes  Terceras  Sextas inter_3 inter_5  Suma
10  [D3, B3, G4, E5]     False   False      P4      M2     0
31  [G3, E4, A4, C5]     False   False      P4      P4     0
34  [E3, E4, A4, C5]     False    True      P4      P5     1

In [4]:
#Ejemplo coral Bach
prueba_path = '/home/cuba/Documents/UNIVERSIDAD/M_C/Archivos/XML_ejemplos/Acordes 6-4_abril25.musicxml'
prueba = cuartas(prueba_path)
df = prueba.extraer_df()


#Clasificación
ap = acorde6_4_paso(df)
ap

['G', 'C', 'F'] ['B', 'E', 'A']

            Acordes  Condición1  Condición2  Condición3  Condición4  Suma
1  [D3, B3, G4, D5]       False       False        True        True     2
5  [G3, E4, G4, C5]       False       False       False        True     1
8  [C3, F4, A4, C5]       False       False       False       False     0

In [5]:
ac = acorde6_4_cadencial(df)
ac

['G', 'C', 'F'] ['B', 'E', 'A']
nombre intervalo M2
inicio: <music21.note.Note D>  ,   fin : <music21.note.Note C>
<music21.note.Note D>
nombre intervalo P4
inicio: <music21.note.Note G>  ,   fin : <music21.note.Note D>
<music21.note.Note G>
nombre intervalo P5
inicio: <music21.note.Note C>  ,   fin : <music21.note.Note G>
<music21.note.Note C>

            Acordes  Terceras  Sextas inter_3 inter_5  Suma
1  [D3, B3, G4, D5]     False   False      P4      M2     0
5  [G3, E4, G4, C5]      True   False      M3      P4     1
8  [C3, F4, A4, C5]      True    True      M3      P5     2

In [6]:
ab = acorde6_4_bordadura(df)
ab

['G', 'C', 'F'] ['B', 'E', 'A']
['G', 'C', 'F'] ['B', 'E', 'A']
<music21.note.Note G> <music21.note.Note G> <music21.note.Note G>
<music21.note.Note C> <music21.note.Note C> <music21.note.Note B>
<music21.note.Note E> <music21.note.Note F> <music21.note.Note E>

,Acordes,Mismo bajo,Condición cuartas,Condición sextas,Suma,error
1,"[D3, B3, G4, D5]",False,False,False,0,P1
5,"[G3, E4, G4, C5]",False,False,False,0,P1
8,"[C3, F4, A4, C5]",True,True,True,3,m2

In [7]:
df

,Notas,Intervalos,Nombre intervalo simplificado,Num_semitonos,Nombre intervalo completo,Beat,Compás,Duración,Tipo
0,"[C3, C4, G4, E5]","[8, 5, 3]","[P8, P5, M3]","[12, 19, 28]","[Perfect Octave, Perfect Fifth, Major Third]",1.0,1,4.0,whole
1,"[D3, B3, G4, D5]","[8, 6, 4]","[M6, P4, P8]","[9, 17, 24]","[Major Sixth, Perfect Fourth, Perfect Octave]",1.0,2,4.0,whole
2,"[E3, C4, G4, C5]","[6, 6, 3]","[m6, m3, m6]","[8, 15, 20]","[Minor Sixth, Minor Third, Minor Sixth]",1.0,3,4.0,whole
3,"[F3, D4, F4, B4]","[8, 6, 4]","[M6, P8, A4]","[9, 12, 18]","[Major Sixth, Perfect Octave, Augmented Fourth]",1.0,4,4.0,whole
4,"[E3, E4, G4, C5]","[8, 6, 3]","[P8, m3, m6]","[12, 15, 20]","[Perfect Octave, Minor Third, Minor Sixth]",1.0,5,4.0,whole
5,"[G3, E4, G4, C5]","[8, 6, 4]","[M6, P8, P4]","[9, 12, 17]","[Major Sixth, Perfect Octave, Perfect Fourth]",1.0,6,2.0,half
6,"[G3, D4, G4, B4]","[8, 5, 3]","[P5, P8, M3]","[7, 12, 16]","[Perfect Fifth, Perfect Octave, Major Third]",3.0,6,2.0,half
7,"[C3, E4, G4, C5]","[8, 5, 3]","[M3, P5, P8]","[16, 19, 24]","[Major Third, Perfect Fifth, Perfect Octave]",1.0,7,4.0,whole
8,"[C3, F4, A4, C5]","[8, 6, 4]","[P4, M6, P8]","[17, 21, 24]","[Perfect Fourth, Major Sixth, Perfect Octave]",1.0,8,4.0,whole
9,"[C3, E4, G4, C5]","[8, 5, 3]","[M3, P5, P8]","[16, 19, 24]","[Major Third, Perfect Fifth, Perfect Octave]",1.0,9,4.0,whole

In [75]:
nota1  = "G"
nota2 = "D"
nota1  = note.Note(nota1)
nota2 = note.Note(nota2)

int = interval.notesToInterval(nota1, nota2)
int.semiSimpleName

'P4'

In [74]:
int.semitones

-7